body{
    overflow-x: hidden;
}
li.permission_name {
    list-style-type: none;
    background: #0032ff;
    margin-left: 2px;
    margin-right: 2px;
    padding: 5px;
    border-radius: 4px;
    color: white;
}
div.perWrapper{
    display: none;
}
ul.ul_permission_wrap {
    display: flex;
}

.toggle_eye
{
    cursor: pointer;
}
label{
    font-weight: 600;
    font-size: 14px;
    font-family: Poppins, Helvetica, sans-serif;
}
/* error css start form here*/
span.error,span.error_msg {
    color: red;
}
/* error css end form here*/
td.dt-type-date {
    text-align: left !IMPORTANT;
}
td.dt-type-numeric.sorting_1 {
    text-align: left !important;
}
th.dt-type-date.dt-orderable-asc {
    text-align: left !important;
}

.loadingGift{
    max-width: 100px;
    margin: auto;
}

div.row div.col-6{
    margin-top: 5px;
    margin-bottom: 5px;
}

/* for modal zoom in css */
.modal.fade .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(.5);transform: translate(0,0)scale(.5);}
.modal.show .modal-dialog.modal-dialog-zoom {-webkit-transform: translate(0,0)scale(1);transform: translate(0,0)scale(1);}
/* for modal zoom in css */

/* for status css  */
p.active {
    background: green;
    text-align: center;
    border-radius: 3px;
    color: white;
}
p.inactive,.in-active {
    background: red;
    text-align: center;
    border-radius: 3px;
    color: white;
}
/* for status css  */
/* for table image css start form here*/
img.table_img{
    width: 50px;
    height: 50px;
}
/* for table image css end form here*/
